# Git
.git
.gitignore

# Go build artifacts
bin/
*.exe
*.test

# Environment files (jangan ikut masuk image!)
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docs
README.md
docs/

# Test files
*_test.go
testdata/
